<h3>Train</h3>

the route for this train is <%= @train.route() %>

the id for this train is <%= @train.id() %>


<a href="/admin/train/<%= @train.id() %>/edit">edit</a>

<form action="/admin/train/<%= @train.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Delete Train</button>

</form>


<% if @train_cities.any?() %>
  <% @train_cities.each() do |city| %>
  <ul>
    <li><a href="/admin/city/<%= city.id() %>"><%= city.name + " " + city.find_time(@train.id())+ " " + city.find_price(@train.id()) %> </a> </li>
  </ul>

  <%end  %>
<%else  %>
  This train does not stop on any city
<%end  %>


<h3>Select all the cities that <%= @train.route() %> train passes through.</h3>

<% if @cities.any?() %>
  <form action="/admin/trains/<%= @train.id %>" method="post">
    <input type="hidden" id="train_id" name="train_id" value='<%= @train.id()  %>'>
    <label for="city_id">Choose a city</label>
    <select id='city_id' name='city_id' type='text'>
      <% @cities.each() do |city| %>
        <option value="<%= city.id()%>"> <%= city.name() %> </option>
      <% end %>
    </select>
      <label for="stop_time">Stop Time:</label>
      <input type="text" id="stop_time"name="stop_time" value="09:00:00">
      Price $<input type="text" name="price" placeholder="5">
    <button type="submit">Add City</button>
  </form>
  <% end %>
